.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.table-wrapper {
  position: relative;
  width: 50%;
}

.ant-layout-header {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}

.ant-layout-content {
  width: 100%;
  display: flex;
}

.ant-table-content {
  overflow-x: scroll;
}

[class="ant-table-cell"] {
  min-width: 150px;
}

.leaflet-container {
  width: 50%;
  height: calc(100vh - 64px);
  flex: 1 1 0;
}

#draghandle {
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translate(50%, 50%);
  width: 15px;
  height: 35px;
  z-index: 999;
  cursor: col-resize;
}